// ## Colors

$White: #FFFFFF;
$Blue: #7494c4;
$Rosa: #daa9da;

// BreakPoints

$breakpoint-small: 725px;
$breakpoint-medium: 1098px;


@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@300&display=swap');